* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DADADA;
    font-family: Helvetica, Arial, sans-serif;
}

button {
    box-shadow: 0 -.3em 0 0 rgba(34, 36, 38, .15) inset;
    border: none;
}

.cart-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    max-width: 1100px;
    margin: 0 auto;
}

.cart-wrap > div {
    width: 100%;
    background: white;
    border-radius: 5px;
    margin: 10px;
}

.list-wrap {
    flex: 3 1 400px;
    min-width: 400px;
    min-height: 100px;
    height: 100%;
}

.list-input-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px #CCC solid;
}

.list-input-wrap input {
    max-width: 100%;
    flex: 1 0 auto;
    border: 1px solid #CCC;
    border-radius: 5px 0 0 5px;
    border-right: none;
    font-size: 0.9rem;
    padding: 5px;
}

.list-input-wrap button {
    width: 100px;
    height: 40px;
    flex: 0 0 auto;
    border: none;
    background-color: #2185D0;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 -.3em 0 0 rgba(34, 36, 38, .15) inset;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
}

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #CCC;
}

.list-item:last-child {
    border-bottom: none;
}

.list-item .item-name {
    font-size: 0.9rem;
    line-height: 30px;
}

.list-item .item-count .round-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    border: none;
    position: relative;
}

.round-button::after {
    content: attr(data-tooltip);

    width: 120px;
    background-color: #b928ff;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    top: -15px;
    left: -43px;
    z-index: 1;
    opacity: 0;

    transition: top .5s, visibility 0s, opacity .5s;
}

.round-button:hover::after {
    visibility: visible;
    top: -35px;
    opacity: 1;
    transition: top .5s, visibility 0s, opacity .5s;
}

.list-item .item-count .round-button i {
    font-style: normal;
    vertical-align: baseline;
}

.list-item .item-count .round-button.substract {
    background-color: #DB2828;
} 

.list-item .item-count .round-button.add {
    background-color: #21BA45;
} 

.list-item .item-count span {
    display: inline-block;
    background-color: #ccc;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: baseline;
}

.list-item .item-controls .buy-button {
    width: 80px;
    height: 30px;
    border: 1px #CCC solid;
    background-color: #EEE;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.6rem;
    color: #555;
}

.list-item .item-controls .remove-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #DB2828;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.6rem;
    color: white;
}

.summary {
    flex: 1 3 200px;
    min-height: 100px;
    width: 350px;
}

.summary-section {
    padding: 15px;
    border-bottom: 1px #CCC solid;
}

.summary-section.summary-title {
    font-weight: bold;
}

.summary-section:last-child {
    border-bottom: none;
}

span.label {
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1;
    font-weight: bolder;
    background-color: #EAEAEA;
    color: #555;
    border-radius: 3px;
    padding: .5833em .833em;
    vertical-align: baseline;
}

span.label .label-count {
    display: inline-block;
    font-size: 0.7rem;
    background-color: #F2711C;
    border-radius: 50%;
    min-width: 2em;
    min-height: 2em;
    padding: .5em;
    line-height: 1em;
    text-align: center;
    color: white;
}


.badge {
    position: fixed;
    bottom: -50px;
    left: 20px;
    width: 140px;
    text-align: left;
    background-color: #b928ff;
    color: white;
    padding: 15px 10px 10px 15px;
    border-radius: 7px 7px 0 0;
    transition: bottom .5s, background-color .5s;
}

.badge:hover {
    bottom: 0;
    background-color: #632cff;
}

.badge h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.badge p {
    font-size: 14px;
}

.badge .name {
    font-size: 18px;
}

@media print {
    .badge {
        border: 1px solid black;
        background-color: unset;
        color: black;
        bottom: 0;
    }

    .badge h3 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .cart-wrap {

    }
}